
@font-face { font-family: G-bold; src: url('font/Gotham-Bold.otf'); }
@font-face { font-family: G-light; src: url('font/Gotham\ Rounded\ Light.otf'); }

.t-light {
    font-family: G-light, Helvetica, sans-serif;
}

body {
  min-width: 320px;
  max-width: 1386px;
  margin: 0 auto;
}

.container{
  max-width: 1386px;
}

main {
  padding-left: 30px;
}

* {
  font-family: G-bold, Helvetica, sans-serif;
}

.p-bg {
  background-color: #d35266;
}

.p-color {
  color: #d35266;
}

.logo-img {
  width: 40px;
}

.navbar-brand {
  padding: 0;
}

/* Search form */

.search-form {
  padding-top: 1.5rem;
}

.search-form > * {
  margin-right: 2px;
  border-radius: .1rem;
}

.form-btn{
  margin-left: 8px;
}

.ad-img {
  width: 100%;
}
    