@font-face {
  font-family: G-bold;
  src: url("./../font/Gotham-Bold.otf");
}
@font-face {
  font-family: G-light;
  src: url("./../font/Gotham-Rounded-Light.otf");
}
.t-light {
  font-family: G-light, Helvetica, sans-serif;
}

.t-bold {
  font-family: G-bold, Helvetica, sans-serif;
}

* *::before *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: G-bold, Helvetica, sans-serif;
  max-width: 1386px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #f0ececea;
}
body a {
  color: inherit;
}
body a:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1386px;
}

.p-color {
  color: #d35266;
}

.p-bg {
  background-color: #d35266;
}

.navbar .logo-img {
  width: 40px;
}
.navbar .logo-img svg {
  fill: #d35266;
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .nav-item {
  padding-right: 14px;
}
.navbar .navbar-nav > .active > .nav-link {
  color: #d35266;
}
.navbar .nav-link > svg {
  fill: #888;
}
.navbar .active > .nav-link > svg {
  fill: #d35266;
}
.navbar .user-img {
  width: 24px;
}

.search-form {
  padding-top: 0.5rem;
}
.search-form * {
  margin-right: 2px;
  border-radius: 0.1rem;
}
.search-form .form-btn {
  margin-left: 8px;
  color: #888;
  background-color: #383838;
  border-color: #383838;
}

.ad-img {
  width: 100%;
}

.resutls-ctn {
  width: 95%;
  font-family: G-light, Helvetica, sans-serif;
  color: #383838;
  padding-bottom: 30px;
  border-bottom: 1px solid #afafafb9;
}
.resutls-ctn .result-info {
  border-bottom: 1px solid #afafafb9;
}

.left-ctn {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  border-right: 1px solid #afafafb9;
  height: 100%;
}
.left-ctn .custom-control {
  padding-top: 8px;
}
.left-ctn .form-check-inline {
  display: inline;
}
.left-ctn .chk-title {
  border-bottom: 1px solid #afafafb9;
  font-weight: 700;
  padding: 20px 16px 8px 0;
  margin: 8px 0;
}

.right-ctn {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
  border-right: 1px solid #afafafb9;
}

.results .result {
  padding: 16px 0;
  margin: 6px 0;
  border-bottom: 1px solid #b3afaf83;
  font-size: 14px;
}
.results .result:nth-child(2) {
  background-color: white;
}
.results .reslut-img {
  margin: 0 auto;
  width: fit-content;
}
.results .carousel-control-ctn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 60px;
  height: 30px;
  color: #d35266;
  background-color: #383838;
}
.results .carousel-control-prev {
  width: 50%;
}
.results .carousel-control-next {
  width: 50%;
}

/*  img
 *  max-height: 180px
 * .result-img-carousel
 *  max-height: 180px
 *  max-width: 150px
 *  */
 * .reslut-text
 *  padding: 10px
 * h5
 *  font-size: 20px
 *  font-weight: 700
 *
 * .result-use
 *  margin-bottom: 0.5rem
 *
 * .reslut-from
 *  align-self: bottom
 *  margin: 10px 0 0 0
 * .reslut-buy
 *  padding: 10px
 *
 *  a:hover
 *    text-decoration: none
 *  .add-btn
 *    color: $grey
 *    line-height: 1
 *    padding: 6px
 *    border: 0.01mm solid #e6dedec9
 *
 *  .reslut-amt
 *    font-size: 17px
 *    font-weight: 700
 *    color: $bg */
.pagination {
  margin-top: 1.5rem;
  font-weight: 600;
}
.pagination .page-link {
  color: #383838;
}
.pagination .page-item {
  padding: 0 0.5rem;
  line-height: 1rem;
}
.pagination .page-link:focus {
  box-shadow: none;
}
.pagination .active .page-link {
  color: white;
  background-color: #d35266;
  border-color: #d35266;
}

footer {
  margin: 30px;
  font-size: 15px;
  font-family: G-light, Helvetica, sans-serif;
}
footer .footer-ctn {
  margin-bottom: 20px;
}
footer .foot-brand {
  font-size: 20px;
  font-weight: 700;
}
footer .abt-logo {
  width: fit-content;
  margin: 0 auto;
}
footer .about-text {
  font-size: 15px;
  text-align: justify;
  padding: 15px;
}
footer .cat-title {
  color: #d35266;
  font-size: 18px;
  font-weight: 800;
  text-transform: capitalize;
  border-bottom: 1.5px solid #d35266;
}
footer .links-ctn {
  margin: 10px 0;
}
footer .links-ctn li {
  padding-top: 5px;
}
footer .site-settings {
  margin-top: 30px;
}
footer .setting {
  padding: 10px;
}
footer .setting .btn {
  min-width: 140px;
}
footer .setting-text {
  color: #d35266;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
}
footer .mentions {
  padding-left: 10px;
  display: inline;
  font-size: 12px;
}
footer .social-links {
  padding-right: 20px;
}
footer .social-links svg {
  margin: 0 10px;
}
footer .social-links svg:hover {
  fill: #d35266;
}

/*# sourceMappingURL=search-style.css.map */
