@font-face
  font-family: G-bold
  src: url('./../font/Gotham-Bold.otf')

@font-face
  font-family: G-light
  src: url('./../font/Gotham-Rounded-Light.otf')

$bg: #d35266
$dark: #383838
$grey: #888
$f-light: G-light, Helvetica, sans-serif
$f-bold: G-bold, Helvetica, sans-serif

.t-light
  font-family: $f-light

.t-bold
  font-family: $f-bold

body
  font-family: $f-bold
  max-width: 1386px
  min-width: 320px
  margin: 0 auto
  background-color: #f0ececea

  a
    color: inherit

  a:hover
    color: inherit
    text-decoration: none

.container
  max-width: 1386px

.p-color
  color: $bg

.p-bg
  background-color: $bg

.navbar
  .logo-img
    width: 40px
    svg
      fill: $bg
  .navbar-brand
    padding: 0
  .nav-item
    padding-right: 14px
  .navbar-nav>.active > .nav-link
    color: $bg
  .nav-link>svg
    fill: $grey
  .active > .nav-link >svg
    fill: $bg
  .user-img
    width: 24px

.search-ctn
  width: 80%
    
.search-form
  padding-top: 1.5rem
  *
    margin-right: 2px
    border-radius: .1rem
  .form-btn
    margin-left: 8px
    color: $grey
    background-color: $dark
    border-color: $dark


.ad-img
  width: 100%

/* Shop section */

.shop-sect
  padding: 1.5rem
  font-family: $f-light
  h3
    font-size: 18px
    font-weight: 800
    line-height: inherit


/* Items template */

.items-ctn
  padding: 15px
  
  .col
    padding: 8px
    margin: 8px
    background-color: white
    border: 0.01mm solid #b3afaf83
    font-size: 14px
  .carousel-control-prev,
  .carousel-control-next
    width: 5%
    background-color: #b4b0b085

  .carousel-item > .items-row
      width: 94%
      margin: 0 auto

  .item-img
    margin: 0 auto
    width: fit-content
  img
    max-width: 220px

  .item-text
    padding: 10px
  h5
    font-size: 20px

  .item-from
    align-self: bottom
    margin: 10px 0 0 0
  
  .item-buy
    padding: 10px

    a:hover
      text-decoration: none
    

    .add-btn
      color: $grey
      line-height: 1
      padding: 6px
      border: 0.01mm solid #e6dedec9

    .item-amt
      font-size: 17px
      font-weight: 700
      color: $bg
  


footer
  margin: 30px
  font-size: 15px
  font-family: $f-light
  .footer-ctn
    margin-bottom: 20px
  .foot-brand    
    font-size: 20px
    font-weight: 700
  
  .abt-logo
    width: fit-content
    margin: 0 auto
  .about-text
    font-size: 15px
    text-align: justify
    padding: 15px

  .cat-title
    color: $bg
    font-size: 18px
    font-weight: 800
    text-transform: capitalize
    border-bottom: 1.5px solid $bg
  .links-ctn
    margin: 10px 0
    li
      padding-top: 5px
  
  .site-settings
    margin-top: 30px
  .setting
    padding: 10px
    .btn
      min-width: 140px 
  .setting-text
    color: $bg
    display: flex
    align-items: center
    
    text-align: right
    text-transform: uppercase
    font-weight: 700
  .mentions
    padding-left: 10px
    display: inline
    font-size: 12px
  .social-links
    padding-right: 20px
    svg
      margin: 0 10px
    svg:hover
      fill: $bg

