@font-face {
  font-family: G-bold;
  src: url("./../font/Gotham-Bold.otf");
}

@font-face {
  font-family: G-light;
  src: url("./../font/Gotham-Rounded-Light.otf");
}

.t-light {
  font-family: G-light, Helvetica, sans-serif;
}

.t-bold {
  font-family: G-bold, Helvetica, sans-serif;
}

body {
  font-family: G-bold, Helvetica, sans-serif;
  max-width: 1386px;
  min-width: 425px;
  margin: 0 auto;
  background-color: #f0ececea;
}

body a {
  color: inherit;
}

body a:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1386px;
}

.p-color {
  color: #d35266;
}

.p-bg {
  background-color: #d35266;
}

footer .social-links svg {
  margin: 0 10px;
}

.navbar .logo-img {
  width: 40px;
}

.navbar .logo-img svg {
  fill: #d35266;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .navbar-brand :hover {
  color: #d35266;
}

.navbar .nav-item {
  padding-right: 14px;
}

.navbar .navbar-nav > .active > .nav-link {
  color: #d35266;
}

.navbar .nav-link > svg {
  fill: #888;
}

footer .social-links svg:hover {
  fill: #d35266;
}

.navbar .active > .nav-link > svg {
  fill: #d35266;
}

.navbar .user-img {
  width: 24px;
}

.search-ctn {
  width: 80%;
}

.search-form {
  padding-top: 1.5rem;
}

.search-form * {
  margin-right: 2px;
  border-radius: 0.1rem;
}

.search-form .form-btn {
  margin-left: 8px;
  color: #888;
  background-color: #383838;
  border-color: #383838;
}

.search-form .form-control-lg {
  font-size: 1.25rem;
  min-width: 0;
}

.ad-carousel-ctn {
  width: 85%;
  margin: 0 auto;
}

.ad-img {
  width: 100%;
}

/* Shop section */

.shop-sect {
  padding: 1.5rem;
  font-family: G-light, Helvetica, sans-serif;
}

.shop-sect h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: inherit;
}

/* Items template */

.items-ctn {
  padding: 15px;
}

.items-ctn .col {
  padding: 8px;
  margin: 8px;
  background-color: white;
  border: 0.01mm solid #b3afaf83;
  font-size: 14px;
}

.items-ctn .carousel-control-prev,
.items-ctn .carousel-control-next {
  width: 5%;
  background-color: #b4b0b085;
}

.items-ctn .carousel-item > .items-row {
  width: 94%;
  margin: 0 auto;
}

.items-ctn .item-img {
  margin: 0 auto;
  width: fit-content;
}

.items-ctn img {
  max-width: 100%;
}

.items-ctn .item-text {
  padding: 10px;
}

.items-ctn h5 {
  font-size: 20px;
}

.items-ctn .item-from {
  align-self: bottom;
  margin: 10px 0 0 0;
}

.items-ctn .item-buy {
  padding: 10px;
}

.items-ctn .item-buy a:hover {
  text-decoration: none;
}

.items-ctn .item-buy .add-btn {
  color: #888;
  line-height: 1;
  padding: 6px;
  border: 0.01mm solid #e6dedec9;
}

.items-ctn .item-buy .item-amt {
  font-size: 17px;
  font-weight: 700;
  color: #d35266;
}

footer {
  margin: 30px;
  font-size: 15px;
  font-family: G-light, Helvetica, sans-serif;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px solid #e6dedec9;
}

footer .footer-ctn {
  margin-bottom: 20px;
}

footer .foot-brand {
  font-size: 20px;
  font-weight: 700;
}

footer .abt-logo {
  width: fit-content;
  margin: 0 auto;
}

footer .about-text {
  font-size: 15px;
  text-align: justify;
  padding: 15px;
}

footer .cat-title {
  color: #d35266;
  font-size: 18px;
  font-weight: 800;
  text-transform: capitalize;
  border-bottom: 1.5px solid #d35266;
}

footer .links-ctn {
  margin: 10px 0;
}

footer .links-ctn li {
  padding-top: 5px;
}

footer .site-settings {
  margin-top: 30px;
  justify-content: space-around;
}

footer .setting {
  padding: 10px;
}

footer .setting .btn {
  min-width: 140px;
}

footer .setting-text {
  color: #d35266;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
}

footer .mentions {
  padding-left: 10px;
  display: inline;
  font-size: 12px;
}

footer .social-links {
  padding-right: 20px;
}

footer .cred-line {
  display: none;
}

/* Media Queries */

@media screen and (min-width: 1024px) {
  .ad h4 {
    font-size: 22px;
  }

  .ad p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1023px) {
  .logo-text {
    display: none;
  }

  .user-name {
    display: none;
  }

  .ad h4 {
    font-size: 18px;
  }

  .ad p {
    font-size: 16px;
  }

  .items-ctn .items-row > :last-child {
    display: none;
  }

  .items-ctn .col {
    font-size: 13px;
  }

  .items-ctn h5 {
    font-size: 17px;
  }

  .items-ctn .item-buy .item-amt {
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  footer .site-settings {
    display: none;
  }

  footer .logo-img {
    display: block;
    margin: 0 auto;
  }

  footer .foot-categories {
    display: none;
  }

  footer .cred-line {
    display: inline;
  }

  footer .mentions {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .logo-text {
    display: inline;
  }

  .user-name {
    display: inline;
  }

  .search-box {
    margin-right: 8px;
  }

  .items-ctn .items-row > :nth-child(3) {
    display: none;
  }

  .search-form .form-control-lg {
    font-size: 16px;
    height: 100%;
  }

  .search-form .ship-btn {
    display: none !important;
  }

  .ad h4 {
    font-size: 16px;
  }

  .ad p {
    display: none;
  }

  .ad .btn {
    font-size: 14px;
  }

  .shop-sect h3 {
    font-size: 16px;
  }

  .search-title {
    font-size: 20px;
    text-align: left;
  }

  .search-tag {
    font-family: G-light, Helvetica, sans-serif;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .search-form {
    padding-top: 10px;
  }

  .foot-nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .ad .btn {
    font-size: 13px;
    padding: 5px;
  }

  .ad h4 {
    font-size: 14px;
  }

  .ad .ad-amt {
    display: none;
  }

  .shop-sect .d-flex > span {
    display: none;
  }

  .items-ctn .col {
    font-size: 13px;
  }

  .items-ctn h5 {
    font-size: 13px;
    font-weight: 500;
  }

  .items-ctn .item-from {
    display: none;
  }

  .items-ctn .item-use {
    margin-bottom: 0;
  }

  .items-ctn .item-buy {
    padding-top: 0;
  }

  .items-ctn .item-buy .item-amt {
    font-size: 12px;
  }

  .search-form .dpt-btn {
    display: none;
  }

  .search-form .search-box {
    margin-right: 0;
  }

  .search-form .form-btn {
    width: 100%;
  }

  .social-links {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
